# Ignore Visual Studio .vs folder
.vs/

# Ignore all x64 folder
**/x64/

# Ignore all precompiled-header files.
**/PCH.pch

# Ignore Resources folder
Resources/*

# Ignore precompiled header file
*.pch

# Ignore all file in the Debug folder
Bins/Debug/*

# Ignore all file in the Release folder
Bins/Release/*
